In [1]:
import pymysql
import pandas as pd
import streamlit as st
from streamlit_option_menu import option_menu
import plotly.express as px
import requests
import json



def conncetion():
    conn = pymysql.connect(host="localhost",user="root",passwd="admin@123",database="phonepe")
    return conn

conn = conncetion()
cursor = conn.cursor()
query = "select * from agg_tran"
cursor.execute(query)
lose = cursor.fetchall()

data = pd.DataFrame(lose,columns=["State","Year","Quater","transaction_type","transation_count","transation_amount"])

In [ ]:
cursor = conn.cursor()
query = "select * from agg_user"
cursor.execute(query)
result = cursor.fetchall()
agg_user = pd.DataFrame(result,columns=["State","Year","Quater","brand","transation_count","pencentage"])

In [ ]:
cursor = conn.cursor()
query = "select * from map_tran"
cursor.execute(query)
result = cursor.fetchall()

map_tran = pd.DataFrame(result,columns=["State","Year","Quater","District","transation_count","transation_amount"])

In [ ]:
cursor = conn.cursor()
query = "select * from map_user"
cursor.execute(query)
result = cursor.fetchall()

map_user = pd.DataFrame(result,columns=["State","Year","Quater","District","register_user","appopen"])

In [ ]:
cursor = conn.cursor()
query = "select * from map_user"
cursor.execute(query)
result = cursor.fetchall()

map_user = pd.DataFrame(result,columns=["State","Year","Quater","District","register_user","appopen"])

In [ ]:
cursor = conn.cursor()
query = "select * from top_user"
cursor.execute(query)
result = cursor.fetchall()

top_user = pd.DataFrame(result,columns=["State","Year","Quater","pincode","register_user"])

In [ ]:
def tran_count_amount(df ,year):
    amounts = df[df["Year"]== year]
    amounts.reset_index(drop=True,inplace=True)

    amountsg =  amounts.groupby("State")[["transation_count","transation_amount"]].sum()
    amountsg.reset_index(inplace=True)
    fig = px.bar(amountsg,x="State", y="transation_amount",title=f"{year} Transation amount")
    fig.show()
    fig = px.bar(amountsg,x="State", y="transation_count", title=f"{year} Transation count")
    fig.show()

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 = json.loads(response.content)
    state_name = []
    for i in data1["features"]:
        state_name.append(i["properties"]["ST_NM"])
    state_name.sort()

    fig_india = px.choropleth(amountsg, geojson=data1, locations="State", featureidkey="properties.ST_NM",
                              color="transation_amount",color_continuous_scale="Turbo",
                              range_color=(amountsg["transation_amount"].min(),amountsg["transation_amount"].max()),
                              hover_name="State",title=f"{year} transation_amount", fitbounds="locations",
                              width=600,height=650)
    fig_india.update_geos(visible=False) 
    fig_india.show()
    fig_india_2 = px.choropleth(amountsg, geojson=data1, locations="State", featureidkey="properties.ST_NM",
                              color="transation_count",color_continuous_scale="Turbo",
                              range_color=(amountsg["transation_count"].min(),amountsg["transation_count"].max()),
                              hover_name="State",title=f"{year} transation_count", fitbounds="locations",
                              width=600,height=650)
    fig_india_2.update_geos(visible=False) 
    fig_india_2.show()

    return amounts

In [ ]:
def tran_count_amount_quater(df ,quater):
    amounts = df[df["Quater"]== quater]
    amounts.reset_index(drop=True,inplace=True)

    amountsg =  amounts.groupby("State")[["transation_count","transation_amount"]].sum()
    amountsg.reset_index(inplace=True)
    fig = px.bar(amountsg,x="State", y="transation_amount",title=f"{amounts['Year'].unique()} year  {quater} quater Transation amount")
    fig.show()
    fig = px.bar(amountsg,x="State", y="transation_count", title=f"{amounts['Year'].unique()} year  {quater} quater Transation count")
    fig.show()

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 = json.loads(response.content)
    state_name = []
    for i in data1["features"]:
        state_name.append(i["properties"]["ST_NM"])
    state_name.sort()

    fig_india = px.choropleth(amountsg, geojson=data1, locations="State", featureidkey="properties.ST_NM",
                              color="transation_amount",color_continuous_scale="Turbo",
                              range_color=(amountsg["transation_amount"].min(),amountsg["transation_amount"].max()),
                              hover_name="State",title=f"{amounts['Year'].unique()} year {quater} quater transation_amount", fitbounds="locations",
                              width=600,height=650)
    fig_india.update_geos(visible=False) 
    fig_india.show()
    fig_india_2 = px.choropleth(amountsg, geojson=data1, locations="State", featureidkey="properties.ST_NM",
                              color="transation_count",color_continuous_scale="Turbo",
                              range_color=(amountsg["transation_count"].min(),amountsg["transation_count"].max()),
                              hover_name="State",title=f"{amounts['Year'].unique()} year {quater} quater transation_count", fitbounds="locations",
                              width=600,height=650)
    fig_india_2.update_geos(visible=False) 
    fig_india_2.show()
    return amounts

In [ ]:
agg_tran_tac_y = tran_count_amount(data,2023)

In [ ]:
agg_tran_tac_y

In [ ]:
def agg_tran_type(df,state):
    trans_type = df[df["State"] == state]
    trans_type.reset_index(drop=True,inplace=True)
    amountsg =  trans_type.groupby("transaction_type")[["transation_count","transation_amount"]].sum()
    amountsg.reset_index(inplace=True)
    fig = px.pie(amountsg,names="transaction_type",values="transation_amount",
                color_discrete_sequence=px.colors.qualitative.Set3,hole=0.5,width=600,height=600,title=f"{state} of  transation amount ")
    fig.show()
    fig = px.pie(amountsg,names="transaction_type",values="transation_count",
                color_discrete_sequence=px.colors.qualitative.Set3,hole=0.5,width=600,height=600,title=f"{state} of transation count")
    fig.show()

In [ ]:
agg_tran_type(agg_tran_tac_y,"Tamil Nadu")

agg user

In [ ]:
def agg_user_tran_bran(df,year):
    agg_user_year = df[df["Year"] == year]
    agg_user_year.reset_index(drop=True,inplace=True)

    aggugyb = pd.DataFrame(agg_user_year.groupby("brand")["transation_count"].sum())
    aggugyb.reset_index(inplace=True)
    fig_user = px.bar(aggugyb, x="brand",y="transation_count",title="Brand and Transation_count",width=400,color_discrete_sequence=px.colors.sequential.haline_r)
    fig_user.show()
    return agg_user_year

In [ ]:
agg_user_d = agg_user_tran_bran(agg_user,2022)

In [ ]:
def agg_user_Qauter(df, quater):
    agg_user_Q = df[df["Quater"] == quater]
    agg_user_Q.reset_index(drop=True,inplace=True)
    aggugQ = pd.DataFrame(agg_user_Q.groupby("brand")["transation_count",].sum())
    aggugQ.reset_index(inplace=True)
    fig_user = px.bar(aggugQ, x="brand",y="transation_count",title=f"{quater} quater of Brand and Transation_count",width=400,color_discrete_sequence=px.colors.sequential.haline_r)
    fig_user.show()
    
    return agg_user_Q

In [ ]:
agg_user_S = agg_user_Qauter(agg_user,1)

In [ ]:
agg_user_S

In [ ]:
def agg_user_state(df,state):
    agg_user = df[df["State"] == state]
    agg_user.reset_index(drop=True,inplace=True)
    fig = px.line(agg_user, x="brand", y="transation_count", hover_data="pencentage",title=f"{state} of   brands transation count pencentage")
    fig.show()

agg_user_state(agg_user_S,"West Bengal")

Map

Map trans

In [ ]:
map_trans_y = tran_count_amount(map_tran,2023)

In [ ]:
def map_tran_discrit(df,state):
    trans_type = df[df["State"] == state]
    trans_type.reset_index(drop=True,inplace=True)
    amountsg =  trans_type.groupby("District")[["transation_count","transation_amount"]].sum()
    amountsg.reset_index(inplace=True)
    fig_1 = px.bar(amountsg,x="transation_amount",y="District",orientation="h",color_discrete_sequence=px.colors.sequential.Magenta_r, title=f"{state} of district and transation amount ")
    fig_1.show()
    fig_2 = px.bar(amountsg,x="transation_count",y="District",orientation="h",color_discrete_sequence=px.colors.sequential.Magenta,title=f"{state} of district and transation count ")
    fig_2.show()
    return trans_type

In [ ]:
map_tran_discrit(map_trans_y,"West Bengal")

In [ ]:
map_tran_Q = tran_count_amount_quater(map_trans_y,1)

Map User

In [ ]:
def map_user_2(df,quater):
    map_user_Q = df[df["Quater"] == quater]
    map_user_Q.reset_index(drop=True,inplace=True)

    mapugq   = map_user_Q.groupby("State")[["register_user","appopen"]].sum()
    mapugq.reset_index(inplace=True)
    fig = px.line(mapugq, x="State", y=["register_user","appopen"],title=f"{quater} of Register User And App Opens" ,color_discrete_sequence=px.colors.sequential.Hot_r,width=1000,markers=True)
    fig.show()
    return map_user_Q

In [ ]:
Map_user_Q = map_user_2(map_user,1)

In [ ]:
Map_user_Q

In [ ]:
def map_user_3(df,state):
    map_user_S = df[df["State"] ==state]
    map_user_S.reset_index(drop=True,inplace=True)
    fig_state = px.bar(map_user_S, x="register_user", y="District", orientation = "h",
    title="Register User and District ", height=600, )
    fig_state.show()
    fig_state = px.bar(map_user_S, x="appopen", y="District", orientation = "h",
    title="appopen User and District ", height=600, color_discrete_sequence=px.colors.sequential.Rainbow)
    fig_state.show()


map_user_3(Map_user_Q,"West Bengal")

TOP trans

In [ ]:
top_trans_y = tran_count_amount(top_tran,2023)

In [ ]:
def top_tran_S(df,state):
    top_trans_s = df[df["State"] == state]
    top_trans_s.reset_index(drop=True,inplace=True)
    mapugs = top_trans_s.groupby("pincode")[["transation_count","transation_amount"]].sum()
    mapugs.reset_index(inplace=True)
    fig_state = px.bar(top_trans_s, x="Quater", y="transation_amount", hover_data="pincode" ,
    title="transation amount  and District Picodes ", height=600, color_discrete_sequence=px.colors.sequential.Rainbow)
    fig_state.show()
    fig_state = px.bar(top_trans_s, x="Quater", y="transation_count", hover_data="pincode" ,
    title="transation count  and District Picodes ", height=600, color_discrete_sequence=px.colors.sequential.Rainbow)
    fig_state.show()

In [ ]:
top_tran_S(top_trans_y,"West Bengal")

In [ ]:
tops_trans_q = tran_count_amount_quater(top_trans_y,1)

In [ ]:
top_user

Top User

In [ ]:
def top_user_year(df,year):
    top_user_Y = df[df["Year"] == year]
    top_user_Y.reset_index(drop=True,inplace=True)
    topuy = pd.DataFrame(top_user_Y.groupby(["State", "Quater"])["register_user"].sum())
    topuy.reset_index(inplace=True)
    fig_year = px.bar(topuy, x="State",y="register_user",title=f"{year} of register user state and quaters" ,color="Quater",color_discrete_sequence=px.colors.sequential.Rainbow)
    fig_year.show()
    return top_user_Y

In [ ]:
top_user_q = top_user_year(top_user,2022)

In [ ]:
def top_user_s(df,state)
    top_user_q = df[df["State"] == state]
    top_user_q.reset_index(drop=True,inplace=True)

    fig_q = px.bar(top_user_q,x="Quater",y="register_user",color="register_user",hover_data="pincode",title=f"{state} Register user")
    fig_q.show()

In [ ]:
map_tran

In [4]:
def query1():
    query1 = """SELECT state, SUM(Transacion_amount) AS Transacion_amount 
                FROM agg_tran 
                GROUP BY state 
                ORDER BY Transacion_amount
                limit 10;
                """
    cursor.execute(query1)
    lose = cursor.fetchall()

    df = pd.DataFrame(lose,columns=["State","Transation_amount"])
    print(df)

In [5]:
query1()

                                State Transation_amount
0                         Lakshadweep        1785781582
1                   Andaman & Nicobar       39927731206
2           andaman-&-nicobar-islands       39927731206
3                             Mizoram       60576955768
4                              Ladakh       98552437444
5  dadra-&-nagar-haveli-&-daman-&-diu      116361815129
6  Dadra & Nagar Haveli & Daman & Diu      116361815129
7                              Sikkim      149964463596
8                   Arunachal Pradesh      151999710965
9                   arunachal-pradesh      151999710965